* {
    background-color: rgba(143, 82, 2, 0.164);
    color: white;

}

:root {
    --br30: 30px;
    --mgn1: 1%;
}

header {
    border: 13px double white;
    border-radius: var(--br30);
    width: 100%;
    position: sticky;
    top: 0;

}

.navcontainer {
    display: flex-column;
    justify-content: space-between;
    margin: .5%;
    padding: .5%;

}

.navcontainer ul {
    display: flex;
    justify-content: end;
    padding-right: 1%;
    padding-bottom: .5%;

}

.navcontainer a:hover {
    background-color: rgba(172, 68, 7, 0.644);
}

.navcontainer li {
    font-size: 2em;
    margin-left: var(--mgn1);
    padding: 1%;
    border-radius: var(--br30);

}

.navcontainer h1 {
    font-size: 5em;
    padding-left: 1%;
}

.navcontainer a {
    cursor: pointer;
    padding: 10px;
    border-radius: var(--br30);
}

.bigcontainer {
    width: 98%;
    min-height: 95vh;
    background: url(../Assets/pexels-pixabay-207237.jpg) no-repeat center / cover;
    margin: var(--mgn1);
    border-radius: var(--br30);
}

.bigcontainer h2 {
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1%;
    color: rgba(143, 82, 2, 0.573);
    margin-left: 7.5%;
}

#profilepic {
    margin-top: 1%;
    width: 25%;
    border-radius: var(--br30);
    margin-left: var(--mgn1);
}

.bigcontainer p {
    border: 2px solid rgb(173, 28, 146);
    color: rgb(7, 7, 7);
    background-color: rgba(16, 16, 16, 0);
    width: 23%;
    margin-left: var(--mgn1);
    padding: 1%;
}

.subcontainer {
    display: flex-column;
    border: 2px solid rgb(122, 10, 221);
    margin: var(--mgn1);
    padding: 2%;
    border-radius: var(--br30);

}

.subcontainersmall {
    display: flex;
    border: 2px solid rgb(122, 10, 221);
    margin: var(--mgn1);
    padding: 1%;
    border-radius: var(--br30);
    justify-content: space-evenly;
}

.card {
    flex-wrap: wrap;
    border: 2px solid rgb(26, 184, 37);
    margin: var(--mgn1);
    padding: 5%;
    background-image: url(../Assets/pexels-erik-torres-11722937.jpg);
}

.subcontainer h2 {
    border: 1px solid rgba(201, 32, 32, 0.872);
    text-align: center;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.301);
}

.subcontainersmall h2 {
    border: 1px solid rgba(201, 32, 32, 0.872);
    text-align: center;
    padding: 1%;
    background-color: rgba(212, 71, 20, 0.626);
}

footer {
    border: 13px double white;
    border-radius: var(--br30);
    width: 100%;
    background-color: rgba(143, 82, 2, 0.295);

}

.footercontainer {
    margin: .5%;
    padding: .5%;

}

.footercontainer ul {
    display: flex;
    justify-content: space-evenly;
    padding-right: 1%;
    padding-bottom: .5%;

}

.footercontainer h3 {
    font-size: 2.5em;
    padding-left: 1%;
    text-align: center;
    border-bottom: 1px solid white;
}

.footercontainer li {
    font-size: 1em;
    margin-left: var(--mgn1);
    padding: 1%;
    border-radius: var(--br30);

}

@media screen and (max-width: 992px) {
    .navcontainer li {
        font-size: 20px;
        margin-left: var(--mgn1);
        padding: 1%;
        border-radius: var(--br30);
    }

    .navcontainer a {
        padding: 0%;
    }

    .bigcontainer p {
        border: 2px solid rgb(173, 28, 146);
        color: rgb(7, 7, 7);
        background-color: rgba(16, 16, 16, 0);
        width: 40%;
        height: 30%;
        margin-left: var(--mgn1);
        padding: 1%;
    }
}